<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead(~{::specific-head})}">
    <th:block th:fragment="specific-head">
        <!-- дополнение head -->
        <link th:href="@{/css/header.css}" rel="stylesheet">
    </th:block>
</head>

<body>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/fire.gif}" width="50px" style="padding-right: 10px;">
                <span>костёр</span>
            </a>

            <button class="navbar-toggler border-0 navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex flex-column align-items-center">
                    <div class="ms-lg-3 mt-3 mt-lg-0">
                        <div id="authUserSection">
                            <div class="dropdown">
                                <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img th:src="@{/images/kamil.jpg}" class="rounded-circle me-2" width="50" height="50">
                                    <span id="usernameDisplay" class="text-white">Камиль</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                                    <li><a class="dropdown-item" href="/settings">Настройки</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form action="/logout" method="post">
                                        <button type="submit" class="dropdown-item">Выйти</button>
                                        </form>
                            </li>
                            </ul>
                            </div>
                            </div>
                                </ul>
            </div>
        </div>
    </nav>
</body>