:root {
    --primary-color: #cc7a00;
    --primary-color-hover: #b36b00;
    --secondary-color: #3f37c9;
    --accent-color: #4cc9f0;
    --light-color: #f8f9fa;
    --dark-color: #1a1a2e;
    --text-light: #ffffff;
    --text-dark: #2b2d42;
}
