<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead(~{::specific-head})}">
    <th:block th:fragment="specific-head">
        <link th:href="@{/css/index.css}" rel="stylesheet">
        <link th:href="@{/css/profile.css}" rel="stylesheet">
        <title>профиль</title>
    </th:block>
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="profile-page animate__animated animate__fadeIn">
        <div class="profile-sidebar">
            <img th:if="${user.avatar == null || user.avatar == ''}" th:src="@{/images/avatars/default-avatar.png}" class="profile-avatar">
            <img th:if="${user.avatar != null && user.avatar != ''}" th:src="${user.avatar}" class="profile-avatar">

            <h2 class="profile-name">
                <span th:text="${user.name}"></span>
                <span th:text="${user.surname}"></span>
            </h2>
            <p class="profile-username" th:text="'@' + ${user.username}"></p>
            <div class="profile-follows">
                <span class="follows-count">
                    <a th:href="@{/followers}" th:text="${user.followersCount} + ' подписчиков'" class="follow-link"></a>
                </span>
                 |
                <span class="follows-count">
                    <a th:href="@{/follows}" th:text="${user.followersCount} + ' подписок'" class="follow-link"></a>
                </span>
            </div>

            <div class="profile-info">
                <div class="info-item" th:if="${user.bio != null && user.bio.length() != 0}">
                    <div class="info-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">О себе</div>
                        <div class="info-value" th:text="${user.bio}"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Группа</div>
                        <div class="info-value" th:text="${user.academicGroup}"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-icon">
                        <i class="fas fa-birthday-cake"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Дата рождения</div>
                        <div class="info-value" th:text="${#temporals.format(user.birthdate, 'dd.MM.yyyy')}"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="comments-section" style="max-height: 632px; overflow-y: auto;">
            <h3 class="section-title">
                <span class="posts-title" onclick="showPosts()">
                    <i class="fas fa-bullhorn"></i> Публикации
                </span>
                <i style="padding-right: 15px"></i>
                <span class="comments-title" onclick="showComments()">
                    <i class="fas fa-comments"></i> Комментарии
                </span>
                <span class="add-post-btn" onclick="openCreatePostModal()" title="Добавить пост">
                    <i class="fas fa-plus"></i>
                </span>
            </h3>

            <div class="posts">
                <h2 th:if="${user.getPosts().size() == 0}">Нет публикаций</h2>
                <div th:each="post : ${user.getPosts()}" class="comment">
                    <img th:if="${post.user.avatar == null|| post.user.avatar == ''}" th:src="@{/images/avatars/default-avatar.png}" class="comment-avatar">
                    <img th:if="${post.user.avatar != null && post.user.avatar != ''}" th:src="${post.user.avatar}" class="comment-avatar">

                    <div class="comment-content">
                        <div class="comment-header">
                            <a th:text="${post.user.name} + ' ' + ${post.user.surname}" class="comment-author"></a>
                            <span class="comment-date">
                                <!-- потом сделать дату-->
                            </span>
                        </div>
                        <p th:text="${post.content}" class="comment-text"></p>
                        <img th:if="${post.image != null}" th:src="${post.image}" style="max-width: 300px;">
                        <div th:if="${post.geolocation != null}">
                            <a th:href="'https://yandex.ru/maps/?ll=' + ${post.geolocation} + '&z=17&pt=' + ${post.geolocation} + ',pm2blm'">
                                <img th:src="'https://static-maps.yandex.ru/1.x/?ll=' + ${post.geolocation} + '&size=300,200&z=17&l=map&pt=' + ${post.geolocation} + ',pm2blm'">
                            </a>
                        </div>
                        <div class="comment-actions">
                            <span class="comment-action like-button" onclick="handleLikeOnPost(this)" th:data-post-id="${post.id}"><i class="far fa-thumbs-up"></i> Нравится (<span th:text="${post.likes}"class="like-count">0</span>)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comments">
                <h2 th:if="${user.getComments().size() == 0}">Нет комментариев</h2>
                <div th:each="comment : ${user.getComments()}">
                    <div th:if="${comment.isAnonimous}" class="comment">
                        <img th:src="@{/images/avatars/default-avatar.png}" class="comment-avatar">

                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Аноним</span>
                                <span class="comment-date">
                                    <!-- потом сделать дату-->
                                </span>
                            </div>
                            <p th:text="${comment.content}" class="comment-text"></p>
                            <div class="comment-actions">
                                <span class="comment-action like-button" onclick="handleLikeOnComment(this)" th:data-comment-id="${comment.id}"><i class="far fa-thumbs-up"></i> Нравится (<span th:text="${comment.likes}" class="like-count"></span>)</span>
                            </div>
                        </div>
                    </div>

                    <div th:if="${!comment.isAnonimous}" class="comment">
                        <img th:if="${comment.getWriterUser().avatar == null || comment.getWriterUser().avatar == ''}" th:src="@{/images/avatars/default-avatar.png}" class="comment-avatar">
                        <img th:if="${comment.getWriterUser().avatar != null && comment.getWriterUser().avatar != ''}" th:src="${comment.getWriterUser().avatar}" class="comment-avatar">

                        <div class="comment-content">
                            <div class="comment-header">
                                <a th:text="${comment.getWriterUser().name} + ' ' + ${comment.getWriterUser().surname}" class="comment-author"></a>
                                <span class="comment-date">
                                    <!-- потом сделать дату-->
                                </span>
                            </div>
                            <p th:text="${comment.content}" class="comment-text"></p>
                            <img th:if="${comment.image != null}" th:src="${comment.image}" style="max-width: 300px;">
                            <div class="comment-actions">
                                <span class="comment-action like-button" onclick="handleLikeOnComment(this)" th:data-comment-id="${comment.id}"><i class="far fa-thumbs-up"></i> Нравится (<span th:text="${comment.likes}" class="like-count"></span>)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="createPostModal" class="modal">
      <div class="modal__content">
        <button class="modal__close" onclick="closeCreatePostModal()" aria-label="Закрыть">&times;</button>
        <div class="modal__header">
          <h2 class="modal__title">Создать пост</h2>
        </div>
        <form id="postForm" class="post-form" method="POST" th:action="@{/api/post_create}" enctype="multipart/form-data">
          <textarea id="content" name="content" class="post-form__textarea" placeholder="Что у вас нового?"></textarea>
          <div class="upload-image-button" onclick="document.getElementById('image').click()">
            <input type="file" id="image" name="image" accept="image/*" style="display: none">
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            <span>Загрузить изображение</span>
          </div>
          <div class="geo-add-button">
              <input type="text" id="geolocation" name="geolocation" value="" style="display: none">
              <input type="checkbox" id="share-location" onclick="processGeoposition(this)">
              <span>Поделиться геопозицией</span>
          </div>
          <div id="map" style="width: 100%;height: 35vh; display: none;"></div>
          <div class="modal__actions">
            <button type="button" class="button button--secondary" onclick="closeCreatePostModal()">Отмена</button>
            <button type="submit" class="button button--primary">Опубликовать</button>
          </div>
        </form>
      </div>
    </div>

    <script crossorigin src="https://cdn.jsdelivr.net/npm/@babel/standalone@7/babel.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=39f06ba3-21d4-452d-a525-0a037274147b&lang=ru_RU" type="text/javascript"></script>

    <script th:src="@{/js/profile.js}"></script>

</body>
</html>