<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead(~{::specific-head})}">
    <th:block th:fragment="specific-head">
        <link th:href="@{/css/index.css}" rel="stylesheet">
        <link th:href="@{/css/profile.css}" rel="stylesheet">
        <title>профиль</title>
    </th:block>
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="profile-page animate__animated animate__fadeIn">
        <div class="profile-sidebar">
            <img th:if="${profileUser.avatar == null || profileUser.avatar == ''}" th:src="@{/images/avatars/default-avatar.png}" class="profile-avatar">
            <img th:if="${profileUser.avatar != null && profileUser.avatar != ''}" th:src="${profileUser.avatar}" class="profile-avatar">

            <h2 class="profile-name">
                <span th:text="${profileUser.name}"></span>
                <span th:text="${profileUser.surname}"></span>
            </h2>
            <p class="profile-username" th:text="'@' + ${profileUser.username}"></p>
            <div class="profile-follows">
                <span class="follows-count">
                    <a th:href="@{/followers}" th:text="${profileUser.followersCount} + ' подписчиков'" class="follow-link"></a>
                </span>
                 |
                <span class="follows-count">
                    <a th:href="@{/follows}" th:text="${profileUser.followersCount} + ' подписок'" class="follow-link"></a>
                </span>
            </div>

            <div class="profile-info">
                <div class="info-item" th:if="${profileUser.bio != null && profileUser.bio.length() != 0}">
                    <div class="info-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">О себе</div>
                        <div class="info-value" th:text="${profileUser.bio}"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Группа</div>
                        <div class="info-value" th:text="${profileUser.academicGroup}"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-icon">
                        <i class="fas fa-birthday-cake"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Дата рождения</div>
                        <div class="info-value" th:text="${#temporals.format(profileUser.birthdate, 'dd.MM.yyyy')}"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="comments-section" style="max-height: 632px; overflow-y: auto;">
            <h3 class="section-title">
                <span class="posts-title" onclick="showPosts()">
                    <i class="fas fa-bullhorn"></i> Публикации
                </span>
                <i style="padding-right: 15px"></i>
                <span class="comments-title" onclick="showComments()">
                    <i class="fas fa-comments"></i> Комментарии
                </span>
                <span class="add-post-btn" onclick="openCreatePostModal()" title="Добавить пост" style="display: none;">
                    <i class="fas fa-plus"></i>
                </span>
            </h3>

            <div class="posts">
                <h2 th:if="${profileUser.getPosts().size() == 0}">Нет публикаций</h2>
                <div th:each="post : ${profileUser.getPosts()}" class="comment">
                    <img th:if="${post.user.avatar == null || post.user.avatar == ''}" th:src="@{/images/avatars/default-avatar.png}" class="comment-avatar">
                    <img th:if="${post.user.avatar != null && post.user.avatar != ''}" th:src="${post.user.avatar}" class="comment-avatar">

                    <div class="comment-content">
                        <div class="comment-header">
                            <span th:text="${post.user.name} + ' ' + ${post.user.surname}" class="comment-author"></span>
                            <span class="comment-date">
                                <!-- потом сделать дату-->
                            </span>
                        </div>
                        <p th:text="${post.content}" class="comment-text"></p>
                        <img th:if="${post.image != null}" th:src="${post.image}" style="max-width: 300px;">
                        <div th:if="${post.geolocation != null}">
                            <a th:if="${post.geolocation != null}" th:href="'https://yandex.ru/maps/?ll=' + ${post.geolocation} + '&z=17&pt=' + ${post.geolocation} + ',pm2blm'">
                                <img th:if="${post.geolocation != null}" th:src="'https://static-maps.yandex.ru/1.x/?ll=' + ${post.geolocation} + '&size=300,200&z=17&l=map&pt=' + ${post.geolocation} + ',pm2blm'">
                            </a>
                        </div>
                        <div class="comment-actions">
                            <span class="comment-action like-button" onclick="handleLikeOnPost(this)" th:data-post-id="${post.id}"><i class="far fa-thumbs-up"></i> Нравится (<span th:text="${post.likes}" class="like-count">0</span>)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comments">
                <h2 th:if="${profileUser.getComments().size() == 0}">Нет комментариев</h2>
                <div th:each="comment : ${profileUser.getComments()}" class="comment">
                    <div th:if="${comment.isAnonimous}" class="comment" style="padding: 0">
                        <img th:src="@{/images/avatars/default-avatar.png}" class="comment-avatar">

                        <div class="comment-content">
                            <div class="comment-header">
                                <span class="comment-author">Аноним</span>
                                <span class="comment-date">
                                    <!-- потом сделать дату-->
                                </span>
                            </div>
                            <p th:text="${comment.content}" class="comment-text"></p>
                            <img th:if="${comment.image != null}" th:src="${comment.image}" style="max-width: 300px;">
                            <div class="comment-actions">
                                <span class="comment-action like-button" onclick="handleLikeOnComment(this)" th:data-comment-id="${comment.id}"><i class="far fa-thumbs-up"></i> Нравится (<span th:text="${comment.likes}"class="like-count">0</span>)</span>
                            </div>
                        </div>

                    </div>
                    <div th:if="${!comment.isAnonimous}" class="comment" style="padding: 0">
                        <img th:if="${comment.getWriterUser().avatar == null || comment.getWriterUser().avatar == ''}" th:src="@{/images/avatars/default-avatar.png}" class="comment-avatar">
                        <img th:if="${comment.getWriterUser().avatar != null && comment.getWriterUser().avatar != ''}" th:src="${comment.getWriterUser().avatar}" class="comment-avatar">

                        <div class="comment-content">
                            <div class="comment-header">
                                <span th:text="${comment.getWriterUser().name} + ' ' + ${comment.getWriterUser().surname}" class="comment-author"></span>
                                <span class="comment-date">
                                    <!-- потом сделать дату-->
                                </span>
                            </div>
                            <p th:text="${comment.content}" class="comment-text"></p>
                            <img th:if="${comment.image != null}" th:src="${comment.image}" style="max-width: 300px;">
                            <div class="comment-actions">
                                <span class="comment-action like-button" onclick="handleLikeOnComment(this)" th:data-comment-id="${comment.id}"><i class="far fa-thumbs-up"></i> Нравится (<span th:text="${comment.likes}"class="like-count">0</span>)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Добавьте этот код перед закрывающим тегом </body> -->
    <div id="createPostModal" class="modal">
      <div class="modal__content">
        <button class="modal__close" onclick="closeCreatePostModal()" aria-label="Закрыть">&times;</button>
        <div class="modal__header">
          <h2 class="modal__title">Написать комментарий</h2>
        </div>

        <form id="postForm" class="post-form" method="POST" th:action="@{/api/comment_create}" enctype="multipart/form-data">
            <input type="text" id="username" name="username" style="display: none" th:value="${profileUser.username}">
            <input type="text" id="isAnonimous" name="isAnonimous" style="display: none" th:value="${false}">
          <textarea id="content" name="content" class="post-form__textarea" placeholder="Ваш комментарий"></textarea>
          <div class="upload-image-button" onclick="document.getElementById('image').click()">
            <input type="file" id="image" name="image" accept="image/*" style="display: none">
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            <span>Загрузить изображение</span>
          </div>
          <div class="anon-comment-select">
              <input type="text" id="isAnonimous" name="isAnonimous" value="0" style="display: none">
              <input type="checkbox" id="share-location" onclick="processAnon(this)">
              <span>Анонимно</span>
          </div>

          <div class="modal__actions">
            <button type="button" class="button button--secondary" onclick="closeCreatePostModal()">Отмена</button>
            <button type="submit" class="button button--primary">Опубликовать</button>
          </div>
        </form>
      </div>
    </div>

    <script th:src="@{/js/user.js}"></script>
</body>
</html>